footer
{
    margin-top: 5vw;
}

.title
{
    margin: 2.5vw 25vw;
    text-align: center;
}

.week
{
    margin: 2.5vw 20vw;
}
.week h2
{
    translate: -5vw 0vw;
}

.title p, .week p
{
    margin-top: 2.5vw;
}
