@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root
{
    --header-flair-color: #3A89FF;
    --header-block-color: #303030;
    --header-text-color: #FFF;
}

*
{
    font-family: "Nunito";
    font-size: 1.25vw;
    margin: 0;
}

a
{
    font-weight: bold;
    text-decoration: none;
}

header
{
    background-color: var(--header-flair-color);
    display: flex;
    height: 3.75vw;
    width: 100%;
    position: fixed;

    transition: all 0.25s;
}
header .header-image
{
    background-color: var(--header-block-color);
    border-radius: 0.5vw;
    height: 5vw;
    margin-left: 7.5vw;
    padding: 1vw;
    width: 5vw;

    transition: all 0.5s;
}
header .header-item
{
    color: var(--header-text-color);
    padding-left: 4vw;
    align-self: center;
}
header #first-item
{
    padding-left: 7.5vw;
}

#header-buffer
{
    padding-top: 10vw;
}
