:root
{
    --info-bubble-color-1: #7dacf3;
    --info-bubble-color-2: #8eb4ed;
    --info-bubble-color-3: #3368b8;
    --info-bubble-color-4: #678cc4;
}

.photos
{
    margin: 10vw 20vw;
}
.photos img
{
    margin: 0.5vw;
    height: 10vw;
}
.photo-category h3
{
    margin-left: -5vw;
}

.table-of-contents
{
    display: block;
    margin-left: 10vw;
    margin-right: 10vw;
}
.table-of-contents h3
{
    margin-bottom: 2vw;
}
.table-of-contents a
{
    background-color: white;
    border-radius: 0.25vw;
    color: black;
    margin: 0.75vw;
    padding: 0.75vw 1vw;

    transition: all 0.2s;
}
.table-of-contents a:nth-child(4n + 3)
{
    border: 0.2vw solid var(--info-bubble-color-1);
}
.table-of-contents a:nth-child(4n + 2)
{
    border: 0.2vw solid var(--info-bubble-color-2);
}
.table-of-contents a:nth-child(4n + 1)
{
    border: 0.2vw solid var(--info-bubble-color-3);
}
.table-of-contents a:nth-child(4n + 0)
{
    border: 0.2vw solid var(--info-bubble-color-4);
}
.table-of-contents a:nth-child(4n + 3):hover
{
    background-color: var(--info-bubble-color-1);
    color: white;
}
.table-of-contents a:nth-child(4n + 2):hover
{
    background-color: var(--info-bubble-color-2);
    color: white;
}
.table-of-contents a:nth-child(4n + 1):hover
{
    background-color: var(--info-bubble-color-3);
    color: white;
}
.table-of-contents a:nth-child(4n + 0):hover
{
    background-color: var(--info-bubble-color-4);
    color: white;
}

.title h1
{
    text-align: center;
}
